# ==========================================
# Logs y Trazas
# ==========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# Dependencias
# ==========================================
node_modules/
.pnp
.pnp.js
.yarn/

# ==========================================
# Archivos de Compilación y Builts
# ==========================================
dist/
dist-ssr/
build/
out/
*.tsbuildinfo
.eslintcache
.vite/
.cache/
.npm/

# ==========================================
# Variables de Entorno y Configuración
# Ignora todos los .env excepto .env.example
# ==========================================
*.env
*.env.*
!.env.example
config.json

# ==========================================
# Archivos Temporales y Descargas de la App
# ==========================================
.vouchers_temp/
*.tmp
*.temp

# ==========================================
# Colecciones Locales / Claves Temporales de Postman
# ==========================================
*.postman_environment
*.postman_globals

# ==========================================
# Plataformas de Despliegue y Serverless
# ==========================================
.speedy/
.turbo/
.vercel
.netlify
.render
.railway

# ==========================================
# Pruebas y Cobertura de Código
# ==========================================
coverage/
.nyc_output/
cypress/videos/
cypress/screenshots/

# ==========================================
# Archivos de IDEs y Editores de Código
# ==========================================
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==========================================
# Archivos Basura del Sistema Operativo
# ==========================================
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini